{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="edit-present-container">
        <h1>Edit Present</h1>
        <div class="form-container">
            <form method="post" class="present-form">
                {% csrf_token %}
                {{ form }}
                <div class="form-buttons">
                    <button type="submit" class="save-btn">Save Changes</button>
                    <a href="{% url 'profile-presents' request.user.pk %}" class="cancel-btn">Cancel</a>
                </div>
            </form>
        </div>
        
    </div>
{% endblock %}