{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="present-box">
        <h1>
            {% if present.user.profile.first_name %}
                {{ present.user.profile.first_name }}
            {% else %}
                {{ present.user.username }}
            {% endif %} has wished for:</h1>
        <div class="image-wrapper">
            <img src="{{ present.image }}" class="present-image-normal" alt="{{ present.name }}">
        </div>

        {% if request.user.pk == present.user.pk %}
            <div class="present-actions">
                <a href="{% url 'present-edit' present.pk %}" class="edit-btn">
                    <img src="{% static 'images/edit.png' %}" alt="Edit" class="action-icon">
                </a>
                <a href="{% url 'present-delete' present.pk %}" class="delete-btn">
                    <img src="{% static 'images/delete.png' %}" alt="Delete" class="action-icon">
                </a>
            </div>
        {% endif %}

        <h3>Present: {{ present.name }}</h3>
        <p>Description: {{ present.description }}</p>
    </div>
{% endblock %}