{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div>

        <div>
            <header>
                <h1>{{ post.title }}</h1>
                <img class='blog-image' src="{{ post.preview_image }}" alt="{{ post.title }}">
                <p>{{ post.content|safe }}</p>
                <div>
                    <span>By {{ post.author.get_full_name|default:post.author.username }}</span>
                    <span>Created on {{ post.created_date|date:"F d, Y" }}</span>
                    {% if user.is_staff %}
                        <div>
                            <a href="{% url 'post_edit' post.pk %}">Edit Post</a>
                            <br>
                            <a href="{% url 'post_delete' post.pk %}">Delete Post</a>
                        </div>
                    {% endif %}
                </div>
            </header>

        </div>
        <div>
        {% if user.is_authenticated %}
        <h2>Add a comment</h2>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                <div>
                    {% for form in formset %}
                        <div>
                            <div>
                                {{ form.author }}
                            </div>
                            <div>
                                {{ form.content }}
                            </div>
                            <div>
                                <button type="submit">Post</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
        </div>


        <h2>Comments</h2>
        <div class="comments-section">
            <div>
                {% for comment in post.comments.all %}
                    <div class="container" style="background-color: white; border-radius: 10px; margin-bottom: 10px;">
                        <p>{{ comment.user.username }}</p>
                        <h5>{{ comment.content }}</h5>
                        <h5>Commented on: {{ comment.created_at|date:"F d, Y" }}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}