{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <header>
        <h2 style="color: #dddddd">Welcome to Santa's Workshop!!!</h2>
        <p class="d-flex justify-content-center"> Ho-ho-hoo 🎅</p>
        <div class="d-flex justify-content-center image-container" id="gif-box">
            <img src="{% static 'images/workshop.gif' %}" alt="Santa's Workshop Gif">
        </div>
        <p>To learn more about us click <a href="{% url 'about' %}">here</a>!</p>
        <p>To learn more about the story of Santa click <a href="{% url 'story' %}">here</a>!</p>
        <p>To check out the wishlist click <a href="{% url 'dash' %}">here</a>!</p>
    </header>


{% endblock %}