{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="present-box">
        {% for present in presents %}
            <div class="present">
                <div class="image-wrapper">
                    <a href="{% url 'present-details' present.pk %}">
                        <img src="{{ present.image }}" class="present-image-normal" alt="{{ present.name }}">
                    </a>
                </div>

                {% if request.user.pk == present.user.pk %}
                    <div class="present-actions">
                        <a href="{% url 'present-edit' present.pk %}" class="edit-btn">
                            <img src="{% static 'images/edit.png' %}" alt="Edit" class="action-icon">
                        </a>
                        <a href="{% url 'present-delete' present.pk %}" class="delete-btn">
                            <img src="{% static 'images/delete.png' %}" alt="Delete" class="action-icon">
                        </a>
                    </div>
                {% endif %}
                <h3>{{ present.name|truncatechars:10 }}</h3>
                <p>{{ present.description|truncatechars:10 }}</p>
            </div>



        {% empty %}
            <p>No presents added yet!</p>
            {% if request.user.pk == present.user.pk %}
                <a href="{% url 'present-add' %}" class="add-present-btn">Wish for your first present!</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

