{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div id="Profile-Details">
        <div class="profile-image">
            {% if object.profile.image %}
                <img src="{{ object.profile.image.url }}" alt="profile_picture" class=profile-image/>
            {% else %}
                <img src="{% static 'images/elf1.png' %}" alt="elf_image"/>
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ user_profile }}</h1>
            <p>First Name: {{ object.profile.first_name }}</p>
            <p>Last Name: {{ object.profile.last_name }}</p>
            <p>Age: {{ object.profile.age }}</p>
            <p>Presents wished for: {{ object.profile.presents }}</p>
            {% if request.user.pk == object.pk %}
                <h2><a href="{% url 'profile-edit' request.user.pk %}">Edit Profile</a></h2>
            {% endif %}
        </div>
    </div>


    


{% endblock %}