{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div id="Profile-Details" class="container">
        <div class="profile-image">
            {% if object.profile.image %}
                <img src="{{ object.profile.image.url }}" alt="profile_picture"/>
            {% else %}
                <img src="{% static 'images/elf1.png' %}" alt="elf_image"/>
            {% endif %}
        </div>
        <div>
            {% if request.user.pk == object.pk %}
                <h2><a href="{% url 'profile-edit' request.user.pk %}">
                    <img src="{% static 'images/edit.png' %}" alt="edit button" class="edit-object"/>
                </a></h2>
                <h2><a href="{% url 'profile-delete' request.user.pk %}">
                    <img src="{% static 'images/delete.png' %}" alt="delete button" class="delete-object"/>
                </a></h2>
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ user_profile }}</h1>
            <p>First Name: {{ object.profile.first_name }}</p>
            <p>Last Name: {{ object.profile.last_name }}</p>
            <p>Age: {{ object.profile.age }}</p>
            <p>Presents wished for: <a href="{% url 'profile-presents' object.pk %}">{{ object.profile.presents_count }}</a></p>
            <p>Status: {{ kid_status.get_status_display }}</p>
            
            {% if request.user.is_staff %}
                    <form method="POST">
                        {% csrf_token %}
                        <select name="status" class="status-select">
                            {% for value, label in status_choices %}
                                <option value="{{ value }}" {% if kid_status.status == value %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Update Status</button>
                    </form>
                {% endif %}
        </div>
    </div>
{% endblock %}